@charset "UTF-8";
*{
    font-family: monospace;
    padding: 0px;
    margin: 0px;
}

label,input {
    display: grid;
    line-height: 30px;
    height: 30px;

    width: 100%;
    outline: none;

    font-size: 1;
}

form {
    
    margin: 10px auto;
    padding: 20px;
}



#esquerda {
    width: 40%;
    height: 400px;
    border: solid black 2px;
    box-sizing: border-box;
    background-color: gray;

    float: left;
}

#direita {
    width: 60%;
    height: 400px;
    border: solid black 2px;
    box-sizing: border-box;

    background-color: gray;

    float: right;
}

table {
    
    background-color: yellow;
    width: 100%;
    margin: 10px auto;
}

tr {
    line-height: 40px;
}




a {
    color: white;
    background-color: black;
    padding: 2px;
    margin: auto;
    text-align: center;
    border: solid white 1px;
    text-decoration: none;
}